@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
}

.header{
    background-color: rgb(46, 41, 41);
    width: 100%;
    max-width: 100%;
    padding: 10px 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.search{
    display: flex;
    flex-grow: 5;
}
.result{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
#image{
    width: 50px;
    height: 50px;
    align-content: center;
    align-self: center;
    margin-left: 44%;
}
#image img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    
}
#repo{
    display: none;
}
input{
    width: 100%;
    padding: 10px 15px;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
#button{
    background-color: rgb(46, 41, 41);
    border: none;
    color: white;
    outline: none;
}
#button:active{
    transform: scale(0.95);
}